.btn:hover {
  box-shadow: 1px 1px 3px 3px rgba(82, 82, 82, 0.47);
}

.btn:active {
  box-shadow: 3px 1px 9px 5px rgba(82, 82, 82, 0.47);
}

.btn__remove {
  background-color: $color-dark-grey;
  color: $color-light-grey;
}

.btn__number {
  background-color: $color-light-black;
  color: $color-blue;
}

.btn__operation {
  background-color: $color-dark-blue;
  color: $color-blue;
}

.btn__equal {
  background-color: $color-light-blue;
  color: $color-cyan;
}
