@import "./variables.scss";
@import "./btn.scss";
@import "./calc.scss";
@import "./keyboard.scss";
@import "./screen.scss";

* {
  box-sizing: border-box;
}

.body {
  background-color: $color-bg-body;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
