@import "./fonts/font.css";
@import "./variables.scss";
@import "./btn.scss";
@import "./calc.scss";
@import "./keyboard.scss";
@import "./screen.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.wrapper {
  position: relative;
}

.circle {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: $color-blue-light;
  top: 173px;
  left: -263px;
  z-index: -1;
}
