.screen__input {
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: $color-white;
  text-align: right;
}

.screen__result {
  height: 72px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: $color-white;
  text-align: right;
}

.screen__input_state_zero-division {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
