$color-bg: linear-gradient(191.34deg, rgba(23, 24, 26, 1) -4.95%, rgba(23, 24, 26, 1) 103.74%);
$color-bg-body: #a0d7ff;
$color-light-black: #303136; // buttons
$color-white: #fff;
$color-dark-grey: #616161; // buttons
$color-light-grey: #a5a5a5;
$color-dark-blue: #005db2; // buttons
$color-blue: #29a8ff; //
$color-light-blue: #1991ff; // button equal
$color-cyan: #b2daff;
