$color-bg: linear-gradient(191.34deg, rgba(23, 24, 26, 1) -4.95%, rgba(23, 24, 26, 1) 103.74%);
$color-bg-body: #a0d7ff;
$color-light-black: #303136; // buttons
$color-white: #fff;
$color-dark-grey: #616161; // buttons
$color-light-grey: #a5a5a5;
$color-dark-blue: #005db2; // buttons
$color-blue: #29a8ff; //
$color-light-blue: #1991ff; // button equal
$color-cyan: #b2daff;

$color-bg-light: #f7f8fb;
$color-blue-light: #38b9ff; // numbers font
$color-dark-blue-light: #ade2ff; // button operation backgroung
$color-black-light: #424242; // screen
$color-dark-grey-light: #858585; // delete font
$color-light-blue-light: #19acff; // button equal
$color-equal-font-light: #b2daff;

$color-input-screen-font-light: #818181;
